<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uncoveringhistory">

    <!--  App permissions to allow app to perform tasks  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Instructing the Manifest that the App Icon  -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UncoveringHistory">

        <!-- Instructing the Manifest that these are Third-party API Keys for login's -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <!-- Instructing the Manifest that these are activity pages -->
        <activity android:name=".Profile" />
        <activity android:name=".Routes" />
        <activity android:name=".Map" />
        <activity android:name=".user_registration"></activity>
        <activity android:name=".WorkInProgressPage" />
        <activity android:name=".AboutPage" />
        <activity android:name=".SitePage" />
        <activity android:name=".CreateNewSite" />
        <!-- The Main Activity is the first page that is loaded -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>